<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="DataConfiguration" type="Microsoft.Pratices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Pratices.EnterpriseLibrary.Data"/>
  </configSections>
  <connectionStrings>
    <add name="Webconnection" providerName="MySql.Data.MySqlClient" connectionString="Database=BD_PSI; Server=130.185.82.181; Port=3306; UID=app_user; PWD=app_user_primarykey; Connection Timeout=25;"/>
    <add name="ConnectionString_Listar" connectionString="Database='BD_PSI'; Server=130.185.82.181; Port=3306; UID=app_user; PWD=app_user_primarykey; Connection Timeout=25;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>

    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/GenericErrorPage.html">
      <error statusCode="403" redirect="~/ErrorPages/NoAccess.html"/>
      <error statusCode="404" redirect="~/ErrorPages/FileNotFound.html"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <authentication mode="Forms">
      <forms name="WebappCookie" loginUrl="~/Account/Login.aspx" protection="All" defaultUrl="/Index.aspx" path="/" timeout="15" slidingExpiration="true" cookieless="AutoDetect"/>
    </authentication>
    <!--Configures algorithms and keys to use for encryption, decryption, and validation of forms-authentication data and view-state data, and for out-of-process session state identification.
            These values must be exactly the same across the several application modules-->
    <machineKey validationKey="D5F8474960DDAE8629DD13795C0D5369571D2790D71BAAF76365C87451619582" decryptionKey="CF2A37A7C4A09E42E6310125FD202E6C022C4A7BBAC682DA5FAF6E6B1F6903C7" validation="SHA1" decryption="AES"/>
    <authorization>
      <!--<deny users="?"/>-->
      <!--Quando o projecto acabar, descomentar a linha de cima e apagar a linha de baixo-->
      <allow users="*"/>
    </authorization>
    <!--If the HashAlgorithmType property is not set, the membership system defaults to the Validation property within the MachineKeySection class.-->
    <!-- In this case validation="SHA1" -->
    <membership defaultProvider="CustomMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="CustomMembershipProvider" description="Stores and retrieves membership data from DataBase Server" type="PortugolWebsite.Code.CustomMembership.CustomMembershipProvider" connectionStringName="Webconnection" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="0" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <roleManager defaultProvider="CustomRolesProvider" enabled="true" cacheRolesInCookie="true" cookieName="WebappCookieRoles" cookieTimeout="240" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear/>
        <add name="CustomRolesProvider" type="PortugolWebsite.Code.CustomMembership.CustomMembershipRole"/>
      </providers>
    </roleManager>

    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>



  </system.web>

  <location path="imagens">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="javascript_IDE">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="img">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Index.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--Quando o projecto acabar, adicionar aqui as páginas e respetivos acessos. -->
</configuration>